@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");

* {
  box-sizing: border-box;
}
body {
  background: linear-gradient(to right, #304352, #d7d2cc);
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow:hidden;
  height: 100vh;
}

h2 {
  position: absolute;
  top: 10px;
}

.range-container {
  position: relative;
}

input[type='range'] {
  width: 400px;
  margin: 18px 0;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type='range']:focus {
  outline: none;
}

input[type='range'] + label {
  background-color: #fff;
  position: absolute;
  top: -25px;
  left: 110px;
  width: 80px;
  padding: 5px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

/* Chrome and Safari */
input[type='range']::-webkit-slider-runnable-track {
  background: linear-gradient(to left, #77a1d3, #79cbca, #e684ae); 
  border-radius: 10px;
  width: 100%;
  height: 13px;
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid lightblue;
  margin-top: -7px;
}

/*Firefox*/
input[type='range']::-moz-range-track {
  background: linear-gradient(to left, #77a1d3, #79cbca, #e684ae);
  border-radius: 4px;
  width: 100%;
  height: 13px;
}

input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid lightblue;
  margin-top: -7px;
}

  /*Microsoft IE*/

  input[type='range']::-ms-track {
    background: linear-gradient(to left, #77a1d3, #79cbca, #e684ae);
    border-radius: 10px;
    width: 100%;
    height: 10px;
  }
  
  input[type='range']::-ms-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid lightblue;
    margin-top: -7px;
  }